// Day theme variables
$base-white: #FFFFF0;
$base-black: #1E2D3C;
$background-color: rgb(103, 209, 251);
$background-gradient: linear-gradient(rgb(155, 226, 254) 0%, rgb(103, 209, 251) 100%);

// Night theme variables
$dark-base-white: #FFFFF0;
$dark-base-black: #1E2D3C;

// Stars variables
$number-of-stars: 250;
$ratio: 2000;

